@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

.banner {
    width: 100%;
    height: 770px;
    position: relative;
}

.banner-details {
    width: 525px;
    position: absolute;
    top: 216px;
    right: 130px;
    text-align: right;
}

.banner-details .title {
    font-size: 65px;
    font-weight: bold;
}
.banner-details .details{
    margin-top: 30px;
}